CHECK_INTERVAL=300 # in seconds

LOW_THRESHOLD=35 # lowest battery before auto charge activates
HIGH_THRESHOLD=85 # highest battery before auto charge activates
CRITICAL_THRESHOLD=25  # ciritical battery before ntfy notification sent for power outage

FORCE_NOTIFY_TEST=False # for testing

TAPO_IP=<TAPO_SMART_PLUG_STATIC_IP> # tapo smart plug static IP
TAPO_EMAIL=<TAPO_EMAIL>
TAPO_PASSWORD=<TAPO_PASSWORD>

NTFY_TOPIC=https://ntfy.sh/<NTFY_TOPIC> # ntfy public instance subscribed topic

LOG_FILE=battery_tapo_log.txt
MAX_LOG_SIZE=5242880 # 5 mb
BACKUP_COUNT=3

START_TIME=22:00 # auto charge starts on time in 24 hour format
END_TIME=12:00 # auto charge stops on time in 24 hour format
